/**
 * Grid
 */
@import '../base/mediaBreakpoints.styl'

.grid__row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  position: relative;
}

.grid__column--1-4 {
  flex-basis: calc(100% / 4);
  
  @media ({$bpMaxW480}) {
    flex-basis: 50%;
  }
}

.grid__column--1-2 {
  flex-basis: 50%;
  
  max-width: 50%;
  
  @media ({$bpMaxW480}) {
    flex-basis: 100%;

    max-width: 100%;
  }
}
