/**
 * Cart
 */
.cart-table {
  width: 100%;
  border-collapse: collapse;
  
  font-size: 1rem;
  
  text-align: left;
}

.cart-table__caption td {
  font-size: .75rem;
  font-weight: 700;

  padding: 5px 5px 15px 5px;
}

.cart-table__row {
  &:nth-child(odd) {
    background-color: rgba(0, 0, 0, .02);
  }
}

.cart-table__row td {
  padding: 15px 0;
}

.cart-table__item-amount {
  margin: 5px;
}
