/**
 * Colors
 */
$clrTransparent100 = rgba(0, 0, 0, 0)
$clrTransparent70 = rgba(0, 0, 0, .3)
$clrTransparent25 = rgba(0, 0, 0, .75)

$clrTransparentWhite75 = rgba(255, 255, 255, .25)

$clrWhite = #fff;
$clrWhite--1 = #e8e7e7;

$clrBlack = #000;
$clrBlack--3 = #333;

$clrViolet = #924ec5;

$clrPurple--1 = #b369d2;

$clrBlue = #4f72f5;
$clrBlue--1 = #6765e4;
$clrBlue--2 = #71a6d7;

$clrGreen = #a7d993;

$clrGrey--1 = #908f8f;
$clrGrey900 = #212121;
