/**
 * Main styles
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  
  font-family: "Work Sans", sans-serif;
  
  @media $bpm1024 {
    font-size: 1.25rem;
  }
}
