/**
 * Main styles
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  
  @media ({$bpMaxDevW1024}) {
    font-size: 1.25rem;
  }
  
  @media  (min-resolution: 144dpi),
          (min-resolution: 1.5dppx) {
     font-weight: 200;
  }
}
