.section {
  position: relative;
  
  padding: 6rem 0 0 0;
  
  font-family: 'Work Sans', sans-serif;
}

.section__content-wrapper {
  position: relative;
  
  max-width: 960px;
  
  margin: 0 auto;
  padding: 0 1rem;
}

.section__title {
  margin: 0 0 2rem 0;
  
  font-size: 2rem;
}

.section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
  
  background: linear-gradient(to top, $clrViolet, $clrBlue--1);
}

.title-area {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  
  color: $clrWhite--1;
}

.title-area__logo {
  margin-right: 2rem;
  
  & > svg {
    $size = 256px;
    
    width: $size;
    height: $size;
  }
}

.title-area__text {
  margin-bottom: 1rem;
  cursor: default;
}

.title-area__text-sub {
  margin-bottom: -1rem;
  
  text-align: right;
}

.title-area__text-main {
  font-family: 'Corben', cursive;
  font-size: 6rem;
}

/**
 * Features
 */
.features-list {
  margin: 3rem 0 0 1rem;
  
  list-style: disc inside;
}

.features-list__item {
  margin-bottom: .625rem;
}

/**
 * Footer
 */
.section-footer {
  color: $clrWhite--1;
  background-color: $clrViolet;
}
