.section {
  position: relative;
  
  padding: 5rem 1rem 1rem 1rem;

  line-height: 1.4;

  color: $clrBlack--3;

  
  &:nth-last-of-type(2) {
    padding-bottom: 5rem;
  }
}

.section__content-wrapper {
  position: relative;
  
  max-width: 960px;
  
  margin: 0 auto;
}

.section__title {
  margin: 0 0 2rem 0;

  font-size: 2rem;
}

.section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 1.5rem 1rem;
  
  height: 100vh;
  
  background: linear-gradient(to top, $clrViolet, $clrBlue--1);
}

.title-area {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  
  color: $clrWhite--1;
}

.title-area__logo {
  margin-right: 2rem;
  
  & > svg {
    $size = 256px;

    width: $size;
    height: @width;

    @media ({$bpMaxW480}) {
      $size = 192px;
      
      width: $size;
      height: @width;
    }
    
    @media ({$bpMaxW692}) {
      @media ({$bpMaxH411}) {
        $size = 144px;
        
        width: $size;
        height: @width;
      }
    }
  }
  
  @media ({$bpMaxW692}) {
    margin-bottom: 3rem;
    
    @media ({$bpMaxH411}) {
      margin-bottom: 0;
    }
  }
}

.title-area__text {
  margin-bottom: 1em;
  
  font-size: 1rem;
  
  cursor: default;
  
  @media ({$bpMaxW480}) {
    font-size: .75rem;
  }
  
  @media ({$bpMaxW692}) {
    @media ({$bpMaxH411}) {
      font-size: .7rem;
    }
  }
}

.title-area__text-sub {
  margin-bottom: -1em;
  
  text-align: right;
}

.title-area__text-main {
  font-family: Corben, cursive;
  font-size: 6em;
}

/**
 * Features
 */
.features-list {
  margin: 3rem 0 0 1rem;
  
  list-style: disc inside;
}

.features-list__item {
  margin-bottom: .5rem;
}
