/**
 * Utilites
 */
 
 /**
 * Utilites: Display
 */
.u-display--none {
  display: none;
}

/**
 * Utilites: Vertical Align
 */
.u-vertical-align--super {
  vertical-align: super;
}

.u-vertical-align--middle {
  vertical-align: middle;
}

/**
 * Utilites: Line Height
 */
.u-line-height--1-4 {
  line-height: 1.4;
}

/**
 * Utilites: Flexbox
 */
.u-justify-content--flex-end {
  justify-content: flex-end;
}

/**
 * Utilites: Margin
 */
.u-margin-bottom--0-5rem {
  margin-bottom: .25rem;
}
