doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Hamper
    //- css
    <link href='https://fonts.googleapis.com/css?family=Corben|Work+Sans:200' rel='stylesheet' type='text/css'>
    link(rel='stylesheet', href='css/vendor.min.css')
    link(rel='stylesheet', href='css/bundle.min.css')
  body
    .section.section-top
      nav.top-menu
        ul.top-menu__list
          for val in [{id:"description", title:"Description"}, {id:"example", title:"Example"}, {id:"usage", title:"Usage"}, {id:"download", title:"Download"}]
            li: a.top-menu__link(href="##{val.id}") #{val.title}
      .title-area
        .title-area__logo
          include ./svg/shopping-basket.svg
        .title-area__text
          .title-area__text-sub Simple cart for your website
          .title-area__text-main Hamper
    #description.section
      .section__content-wrapper
        .section__title
          | Need simple cart for a website?
          br
          | Meet Hamper.
        ul.features-list
          li.features-list__item Built with ES6 (Babel)
          li.features-list__item Connects as a module
          li.features-list__item Pure JS (No jQuery or another dependencies)
          li.features-list__item Free to use and update 
    #example.section
      .section__content-wrapper
        .section__title Example
        #cart-widjet.cart-widjet__wrapper
          .cart-widjet__body
            div
              include ./svg/shopping-bag.svg
            .cart-widjet__data
        .cart-items
          .cart-item
            .cart-item__title Disturbed: Asylum
            img.cart-item__photo(src="images/vinyl-covers/disturbed_asylum_coloredvinylbonuscd_.jpg")
            .cart-item__available In Stock
            .cart-item__price $29.49
            button.cart-item__add(type="button" id="cartItemAdd001") Add To Cart
          .cart-item
            .cart-item__title Mumford And Sons: Wilder Mind
            img.cart-item__photo(src="images/vinyl-covers/mumford-1.jpg")
            .cart-item__available In Stock
            .cart-item__price $24.5
            button.cart-item__add(type="button" id="cartItemAdd002") Add To Cart
          .cart-item
            .cart-item__title Coldplay Catalogue Set
            img.cart-item__photo(src="images/vinyl-covers/coldplay_4_cd_catalogue_set.jpg")
            .cart-item__available Not Available
            .cart-item__price $49.99
            button.cart-item__add(type="button" id="cartItemAdd003") Add To Cart
          .cart-item
            .cart-item__title Disturbed: Asylum
            img.cart-item__photo(src="images/vinyl-covers/disturbed_asylum_coloredvinylbonuscd_.jpg")
            .cart-item__available In Stock
            .cart-item__price $29.49
            button.cart-item__add(type="button" id="cartItemAdd001") Add To Cart
          .cart-item
            .cart-item__title Mumford And Sons: Wilder Mind
            img.cart-item__photo(src="images/vinyl-covers/mumford-1.jpg")
            .cart-item__available In Stock
            .cart-item__price $24.5
            button.cart-item__add(type="button" id="cartItemAdd002") Add To Cart
          .cart-item
            .cart-item__title Coldplay Catalogue Set
            img.cart-item__photo(src="images/vinyl-covers/coldplay_4_cd_catalogue_set.jpg")
            .cart-item__available Not Available
            .cart-item__price $49.99
            button.cart-item__add(type="button" id="cartItemAdd003") Add To Cart
          .cart-item
            .cart-item__title Disturbed: Asylum
            img.cart-item__photo(src="images/vinyl-covers/disturbed_asylum_coloredvinylbonuscd_.jpg")
            .cart-item__available In Stock
            .cart-item__price $29.49
            button.cart-item__add(type="button" id="cartItemAdd001") Add To Cart
          .cart-item
            .cart-item__title Coldplay Catalogue Set
            img.cart-item__photo(src="images/vinyl-covers/coldplay_4_cd_catalogue_set.jpg")
            .cart-item__available Not Available
            .cart-item__price $49.99
            button.cart-item__add(type="button" id="cartItemAdd003") Add To Cart
    #usage.section
    #download.section
    footer.section.section-footer
      div Hamper
        span.u-vertical-align--super ©
      div Ivan Gerasimov
      div gerasimov.pw
    //- javascript
    script(src='js/bundle.min.js')
