doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Carty
    //- css
    //- link(rel='stylesheet', href='css/vendor.min.css')
    link(rel='stylesheet', href='css/bundle.min.css')
  body
    button#cart-widjet
    br
    button(id="vtCartItemAdd001") +
    button(id="vtCartItemAdd002") +
    button(id="vtCartItemAdd003") +
    //- javascript
    script(src='js/bundle.min.js')
