doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Hamper
    //- css
    <link href='https://fonts.googleapis.com/css?family=Corben|Work+Sans:200' rel='stylesheet' type='text/css'>
    link(rel='stylesheet', href='css/vendor.min.css')
    link(rel='stylesheet', href='css/bundle.min.css')
  body
    nav.top-menu
      ul.top-menu__list
        for val in [{id:"descripton", title:"Description"}, {id:"example", title:"Example"}, {id:"usage", title:"Usage"}, {id:"download", title:"Download"}]
          li: a.top-menu__link(href="##{val.id}") #{val.title}
    .section.section-top
      .title-area
        .title-area__logo
          include ./svg/shopping-basket.svg
        .title-area__text
          .title-area__text-sub Simple cart for your website
          .title-area__text-main Hamper
    #description.section
    #example.section
      #cart-widjet.cart-widjet__wrapper
        .cart-widjet__body
          div
            include ./svg/shopping-bag.svg
          .cart-widjet__data
      button(id="cartItemAdd001") +
      button(id="cartItemAdd002") +
      button(id="cartItemAdd003") +
    #usage.section
    #download.section
    footer.section
    //- javascript
    script(src='js/bundle.min.js')
