/**
 * Media Breakpoints
 */
$bpMaxW320 = "max-width: 320px";
$bpMaxW375 = "max-width: 375px";
$bpMaxW480 = "max-width: 480px";
$bpMaxW692 = "max-width: 692px";

$bpMaxH411 = "max-height: 411px";


/**
 * Media Breakpoints: Mobile
 * bpm — breakpoint mobile
 */
$bpMaxDevW414 = "max-device-width: 414px";
$bpMaxDevW1024 = "max-device-width: 1024px";
